@import "tailwindcss";
@import "./theme/base.css";

@import "./theme/components.css";
@import "./theme/dark.css";
@import "./theme/tui-dark.css";
@import "./theme/strawberry.css";
@import "./theme/coffee.css";


@custom-variant dark (&:where(.app-dark, .app-dark *));
@custom-variant tui (&:where(.app-tui, .app-tui *));
@custom-variant strawberry (&:where(.app-strawberry, .app-strawberry *));
@custom-variant coffee (&:where(.app-coffee, .app-coffee *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}